.main{
width: 100vw;
height: 100vh;
background-color:black;
display: flex;
justify-content: center;
flex-direction: column;
    
}
.Top{
    background-color:black;
    text-align: center;
    font-size: 3.1vh;
    color: white;
}
.Bottom{
display: flex;
   justify-content: center;
   align-items: center;
   gap: 2vh;
}

.bottomrightUpper h3{
    font-size: 3.5vh;
    
    
}
.BottomRight{
    background-color: aqua;
    border-radius: 1vh;
    height: 33.9vw;
    width: 19vw;
    padding: 1vh 0vh 0vh 3vh;

    
}
.BottomupperOne{
    background-color: white;
    padding: 4vh;
    width: 13vw;
    border-radius: 1.5vh;

}
.BottomleftUpper{
    display: flex;
    flex-direction: row;
    gap: 2.5vh;

}
.Bottomupperforth{
    background-color: white;
    padding: 4vh;
    width: 13vw;
    border-radius: 1vh;
}
.BottomleftLower{
    display: flex;
    flex-direction: row;
    gap: 2.5vh;


}
.BottomLeft {
display: flex;
flex-direction: column;
gap: 2vh;


}